@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", system-ui;
}

header{
    background-color: #ec3237;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.header-conteiner{
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-around;
    font-weight: 500;
    & img{
        width: 200px;
        height: 150px;
        cursor: pointer;
    }
}

.header-outros{
    display: flex;
    gap: 3rem;
    align-items: center;
}

.outros{
    display: flex;
    align-items: center;
    gap: 10px;
    transition:  0.3s ease-in-out;
    padding: 25px;
    border-radius: 10px;
   & a{
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    gap: 5px;
    
    & p{
        color: white;
    }
   }

   & img{
    width: 40px;
    height: 40px;
   }
}

.outros:hover{
    background-color: #fc7277;
}

.procurar{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 500px;
   position: relative;
   padding: 50px;


   & input{
    width: 100%;
    position: absolute;
    padding: 10px;
    border: 0;
    outline: 0;
    border-radius: 10px;
   }


   & i{
    position: absolute;
    right: 0;
    padding: 5px;
   }
}

.cetinhaAberta{
    display: flex;
    justify-content: right;
    position: absolute;
    top: 0;
    right: 1;
    width: 100%;
    background-color: #ff9da04f;
 }
 .cestinha{
     display: flex;
     padding: 8px 12px;
     align-items: center;
     gap: 1rem;
     border-radius: 10px;
     border: 0;
     background-color: transparent;
     cursor: pointer;
     width: 100%;
     height: 100%;
     font-size: 18px;
     font-weight: 500;
     color: #fff;
     
     
 }
 
 .cesta-icone{
     width: 150px;
     height: 150px;
 }
 
 .cestinha-conteiner{
     height: 100vh;
     width: 20%;
     display: none;
     border: 1px solid #cccccca1;
     z-index: 9999;
     flex-direction: column;
     align-items: center;
     position: relative;
     padding: 15px;
     background-color: #fff;
     opacity: 0; /* Início invisível */
     transform: translateX(100%); /* Começa fora da tela */
     transition: opacity 0.3s ease, transform 0.3s ease; /* Suaviza a transição */
 }
 
 .active{
     display: flex;
     animation: abrirCestinha 0.3s forwards;
 }
 
 .inactive {
     animation: fecharCestinha 0.3s forwards; /* Animação ao fechar */
 }
 
 .topo-cestinha{
     display: flex;
     align-items: center;
     justify-content: space-around;
     font-size: 20px;
     font-weight: 500;
     
     & button{
         padding: 5px;
         font-size: 12px;
         font-weight: bold;
         border-radius: 50%;
         width: 30px;
         height: 30px;
         background-color: #ec3237;
         border: 0;
         color: #fff;
         position: absolute;
         right: 0;
         cursor: pointer;
     }
 }
 .meio-cestinha{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     font-size: 20px;
     gap: 2rem;
     margin: auto;
 
     & a{
         text-decoration: none;
         color: #fff;
         background-color: #ec3237;
         padding: 15px;
         border-radius: 20px;
     }
 }
 
 
 @keyframes abrirCestinha {
     from {
         transform: translateX(100%);
         opacity: 0;
     }
     to {
         transform: translateX(0);
         opacity: 1;
     }
 }
 
 @keyframes fecharCestinha {
     from {
         transform: translateX(0);
         opacity: 1;
     }
     to {
         transform: translateX(100%);
         opacity: 0;
     }
 }

#navegacao{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 375px;
    z-index: -1;
}
.navegacao-conteiner{
    display: flex;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    & h2{
        margin-left: 4rem;
    }
}
nav{
    margin: auto;
}
.navegacao-conteiner ul{
    display: flex;
    gap: 2rem;
    list-style: none;
    & a{
        text-decoration: none;
        color: #000;
        transition: 0.3s ease-in-out;

    }

    & a:hover{
        color: rgb(0, 255, 64);
    }

}
.cor-infantil{
    color: rgb(0, 255, 64);
}

